.footer-title {
    background-color: blue;
    height: 2rem;
    color: white;
  }
  
  .footer-bar {
    margin-top: 2rem;
    background-color: #1694e7;
    height: 3rem;
  }
  
  h5 {
    padding-left: 1rem;
    padding-top: 5px;
  }