.body {
  padding-top: 6rem;

}

h1,
h2 {
  text-align: center;
  background-color: grey;
  color: white;

}

h1 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-size: 4.5rem;
}

h2 {
  padding: 0rem 15rem 4rem 15rem;
}