.body {
  padding-top: 6rem;

}

h1,h2 {
  text-align: center;
  background-color: white;
  color: blue;

}

h1 {
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  font-size: 4.5rem;
}

h2 {
  padding: 0rem 15rem 4rem 15rem;
}